.nav-container {
    align-items: center;
    background-color: #0f0f0f;
    border-bottom: 1px solid #2d2d3a;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 6;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-family: 'Montserrat', sans-serif !important;
}

.logo-container {
    height: 2.5rem;
    width: 2.5rem;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.brand-name {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.15rem;
    align-self: flex-end;
}

.searchbar-container {
    border-radius: 10px;
    display: inline-flex;
    height: 2.3rem;
    padding: 6px;
    width: 22rem;
    border: 1px solid #fa5a29;
}

.nav-search-field {
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    color: #FFF;
}

.nav-search-field:focus {
    outline: none;
}

.search-icon {
    align-self: center;
    cursor: pointer;
    display: inline-flex;
    height: 1.3rem;
}

.btn-no-decoration {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #FFFFFF;
}

.search-icon {
    color: #FFF;
}

.profile-icon {
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .searchbar-container {
        width: 75%;
    }
}