.sidebar {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 4rem;
    width: 14rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    color: white;
    column-gap: 8px;
    font-size: 1.1rem;
    padding: 1rem 1.5rem 1rem 2.5em;
    text-decoration: none;
}

.sidebar-icon {
    padding-right: 0.8rem;
}

.mobile-bottom-nav {
    background-color: #f5f5f5;
    bottom: 0;
    display: none;
    height: 3rem;
    justify-content: space-around;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 7;
    padding: 2rem;
}

/* .mobile-nav-page {
    background-color: #000;
} */


.mobile-nav-element {
    color: black;
}

.mobile-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
}

.mobile-nav-item>span {
    padding-top: 2px;
    font-size: 8px;
}

.mobile-nav-options {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 640px) {
    .mobile-bottom-nav {
        display: flex;
        font-size: 0.75rem;
    }

    .brand-name,
    .profile-icon,
    .sidebar {
        display: none;
    }
}